<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Title</title>
    <style>
     .Bookdisplay label {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: large;
            padding-top: 0;
            padding-left: 8px;
        }
    </style>
    </head>
    <body>
    <div class="container">
    <form action="#" class="Bookdisplay" method="POST">
                    <div style="margin-left: 10px;">
                        <p class="h6"><b>ISBN : </b> {{ book.isbn }} </p> <br>
                        <p class="h6"><b>Title : </b> {{ book.title }} </p> <br>
                        <p class="h6"><b>Author : </b> {{ book.author }} </p> <br>
                        <p class="h6"><b>Year : </b> {{ book.year }} </p> <br>
                    </div>

</html>


    

